.App {
  margin: 10px;
  display: grid;
  grid-template-areas: "tabs tabs"
  "media selector";
  height: 100vh;
}

.MediaArea {
  grid-area: media;
}

.ToolPanel {
  grid-area: selector;
}

.TabRow {
  grid-area: tabs;
}